<div class="main-container">
  <div class="bgimage imager"></div>
  <div class="row justify-content-center align-items-bottom pb-0">
    <div class="col-12 col-md-10 col-lg-7">
      <!-- Section Heading -->
      <div class="section-heading text-center bottomer">
        <!-- <h2 class="custom-gray-text">Student Feedback</h2> -->
        <!-- <a class="btn btn-bordered-white mt-3" routerLink="#hub"
          >Book an Appointment
        </a> -->
      </div>
    </div>
  </div>
  <div class="container">
    <section id="service" class="section service-area dark-bg ptb_50">
      <div class="container">
        <div class="row justify-content-center">
          <!-- <div class="col-12 col-md-10 col-lg-7 wider-class"> -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-right">
            <h2 class="custom-gray-text">Who are We?</h2>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <!-- Section Heading -->
            <div class="section-heading text-center no-margin">
              <div class="img-container">
                <img src="assets/img/about/who_are_we.png" alt="Who are we?" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <!-- Section Heading -->
            <div class="section-heading no-margin">
              <p class="text-white-50 text-justify d-sm-block">
                We are Dummy Academy, a company formed in the year 2014 by a
                team of IT and Management Professionals with a vision to create
                a mutually beneficial eco-system of enterprise, nature and
                humanity through digital transformations powered by passion,
                innovation, and excellence through adopting and implementing
                State of art Technology in our core competency areas in cyber
                security and cloud computing.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="service" class="section service-area dark-bg ptb_50">
      <div class="container">
        <div class="row justify-content-center">
          <!-- <div class="col-12 col-md-10 col-lg-7 wider-class"> -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="custom-gray-text">Dummy Academy</h2>
          </div>
        </div>
        <div class="row justify-content-center uptodown">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <!-- Section Heading -->
            <div class="section-heading no-margin">
              <p class="text-white-50 text-justify d-sm-block">
                Dummy Academy, a business unit focused on partnering with
                educational institutions with the objective of providing
                industry expertise and access to help students gain enhanced
                exposure in niche industries like cyber security, IT and more.
                In liaison with our industry partners, we aim to create
                customized training programs to help students better prepare for
                a life in niche industry. Along with that we provide six weeks,
                six months, summer training, vocational training, industrial
                training, and corporate course training in Cyber Security or
                Information Security.
              </p>
            </div>
          </div>
          <div class="col-6 wider-class">
            <!-- Section Heading -->
            <div class="section-heading text-center no-margin">
              <div class="img-container">
                <img src="assets/img/logo/dummyacademy.png" alt="brand-logo" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** specialty Area Start ***** -->
    <section class="section content-area dark-bg py-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-right">
            <h2 class="custom-gray-text">Our Specialty</h2>
          </div>
          <div class="col-12 col-lg-6 animated fadeInLeft">
            <!-- Service Thumb -->
            <div class="service-thumb mx-auto pt-4 pt-lg-0">
              <img src="assets/img/content/Speciality.jpg" alt="" />
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <!-- Content Inner -->
            <div class="content-inner text-center">
              <!-- Section Heading -->
              <div class="section-heading text-center mb-3">
                <!-- <h2 class="custom-gray-text">Our Speciality</h2> -->

                <!-- Content List -->
                <ul class="content-list text-left">
                  <!-- Single Content List -->
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Simple & easy training courses that are fully
                          bespoke</b><br /></span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Cost-effective -We Offer You Great Value for Money</b><br /></span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Access to qualified tutors </b><br /></span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Real time training on live projects.</b><br /></span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Our scheduling is flexible</b><br /></span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Certified by ExtraSecureLabs </b><br /></span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Live, Instructor-Led Training and Two-Way Interaction
                          (online courses).</b><br /></span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Highly Skilled Engineers.</b><br /></span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- <a href="#" class="btn btn-bordered-white mt-4">Learn More</a> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** specialty Area End ***** -->

    <!-- ***** Why Choose US ***** -->
    <section class="section content-area dark-bg py-5">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="custom-gray-text">Why Choose Us?</h2>
          </div>
        </div>
        <div class="row justify-content-between uptodown">
          <div class="col-12 col-lg-6">
            <!-- Content Inner -->
            <div class="content-inner text-center">
              <!-- Section Heading -->
              <div class="section-heading text-center mb-3">
                <!-- <h2 class="custom-gray-text">Why Choose Us?</h2> -->
                <!-- <p class="text-white-50 d-none d-sm-block mt-4">
              Lorem ipsum
            </p> -->

                <!-- Content List -->
                <ul class="content-list text-left">
                  <!-- Single Content List -->
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Certified Teaching Experts</b><br />Our teaching
                        experts are certified from ExtraSecureLabs .</span>
                    </div>
                  </li>
                  <!-- Single Content List -->
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Worldwide Services To Clients</b><br />We provide
                        services and trusted by clients worldwide..</span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Next-Gen Technology Provider </b><br />Lifetime
                        provider of uttermost tactics for your digital
                        journey..</span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Creating Ideas with Passion</b><br /></span>
                    </div>
                  </li>
                  <li class="single-content-list media py-2">
                    <div class="content-icon pr-4">
                      <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                    </div>
                    <div class="content-text media-body">
                      <span class="text-white"><b>Pocket Friendly Cybersecurity Education</b><br /></span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- <a href="#" class="btn btn-bordered-white mt-4">Learn More</a> -->
            </div>
          </div>
          <div class="col-12 col-lg-6 animated fadeInRight">
            <!-- Service Thumb -->
            <div class="service-thumb mx-auto pt-4 pt-lg-0">
              <img src="assets/img/content/Why-to-choose-us.jpeg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Why choose us Area End ***** -->

    <section id="locate-us" class="section price-plan-area dark-bg overflow-hidden pt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7">
            <!-- Section Heading -->
            <div class="section-heading text-center">
              <h2 class="custom-gray-text">Contact Us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-12">
            <div class="row course-container">
              <div class="col-12 col-lg-6 col-md-12 col-sm-12 p-b-10p">
                <!-- Single Price Plan -->
                <div class="row single-price-plan color-1 hover-top dark-bg text-center">
                  <div class="col-lg-4 col-md-3 col-sm-3 col-3 row justify-content-end">
                    <i class="fa fa-map-marker-alt locate-us-icons"></i>
                  </div>
                  <div class="col-lg-8 col-md-9 col-sm-9 col-9">
                    <div class="locate-us-text locate-us-title">Address</div>
                    <div class="locate-us-text locate-us-info">
                      <div>
                        <span class="font-weight-bold">ABC Office</span>
                      </div>
                      19th Floor, XYZ Business Center, Continental Hotel, NY
                    </div>
                  </div>
                </div>
                <div class="single-price-plan color-1 hover-top dark-bg text-center flexclass">
                  <div class="col-lg-4 col-md-3 col-sm-3 col-3 row justify-content-end">
                    <i class="far fa-calendar-alt locate-us-icons"></i>
                  </div>
                  <div class="col-lg-8 col-md-9 col-sm-9 col-9">
                    <div class="locate-us-text locate-us-title">
                      Working Hours
                    </div>
                    <div class="locate-us-text locate-us-info">
                      9:00AM-6:00PM
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-sm-12 col-12 col-md-12 p-b-10p">

                <div class="single-price-plan color-1 hover-top dark-bg text-center flexclass">
                  <div class="col-lg-4 col-md-3 col-sm-3 col-3 row justify-content-end">
                    <i class="fa fa-mobile locate-us-icons"></i>
                  </div>
                  <div class="col-lg-8 col-md-9 col-sm-9 col-9">
                    <div class="locate-us-text locate-us-title">Phone</div>
                    <div class="locate-us-text locate-us-info">
                      +91 9999999999
                    </div>
                  </div>
                </div>
                <div class="single-price-plan color-1 hover-top dark-bg text-center flexclass">
                  <div class="col-lg-4 col-md-3 col-sm-3 col-3 row justify-content-end">
                    <i class="far fa-envelope locate-us-icons"></i>
                  </div>
                  <div class="col-lg-8 col-md-9 col-sm-9 col-9">
                    <div class="locate-us-text locate-us-title">Email Us</div>
                    <div class="locate-us-text locate-us-info">
                      academy@dummyedu.com
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>