<div class="main-container">
  <div class="bgimage imager"></div>
  <div class="container">
    <section id="service" class="section service-area dark-bg ptb_50">
      <div class="container">
        <div class="row justify-content-center uptodown">
          <!-- <div class="col-12 col-md-10 col-lg-7 wider-class"> -->
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- Section Heading -->
            <div class="section-heading no-margin">
              <h2 class="custom-gray-text">Educational Course</h2>
              <p class="text-white-50 text-justify d-sm-block mt-4">
                Education is the necessary means to upgrade the human quality of
                life. It is as necessary to us as the air we breathe and as the
                food we eat. As an CSR initiative, Dummy Academy has taken the
                responsibility to provide the Cyber Security Training, free of
                cost to underserved section of the society. Let's build a better
                future together.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- Section Heading -->
            <div class="section-heading text-center no-margin">
              <div class="img-container">
                <img src="assets/img/content/education.jpg" alt="Iftari Distribution" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="service" class="section service-area dark-bg ptb_50">
      <div class="container">
        <div class="row justify-content-center">
          <!-- <div class="col-12 col-md-10 col-lg-7 wider-class"> -->
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- Section Heading -->
            <div class="section-heading text-center no-margin">
              <div class="img-container">
                <img src="assets/img/content/marathon.jpg" alt="Fauja Singh Marathon" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- Section Heading -->
            <div class="section-heading no-margin">
              <h2 class="custom-gray-text">Marathon Run</h2>
              <p class="text-white-50 text-justify d-sm-block mt-4">
                Being a Network Infrastructure Solutions Company, we understand
                the most sophisticated infrastructure ever created the human
                body. Like we keep your networks healthy, we take care of our
                health as well.Running benefits includes weight loss, improved
                cardiovascular health, improved bone health, improved mood and
                better coordination.We urge our team mates and our associates to
                exercise and run for atleast 20 minutes daily. Here is a glimpse
                of our team members participating in a marathon run along with
                the Oldest Marathon Runner, Fauja Singh.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>