<div class="main-container">
  <div class="bgimage imager">
    <!-- <div class="carousel-caption banner-text">
      <h2 class="display-4">CONTACT US</h2>
    </div> -->
  </div>
  <section class="section form-section dark-bg ptb_150 blue-background custompadding">
    <div class="form-container">
      <form class="form-outer">
        <div class="form-group">
          <h3 class="text-center py-2">We are here to HELP YOU!</h3>
        </div>
        <div class="row flex-space-around">
          <div class="col-lg-6 col-md-12 col-sm-12 px-0 pb-2">
            <input type="text" class="form-control" id="firstname" placeholder="First Name" />
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 px-0 pb-2">
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" />
          </div>
        </div>
        <div class="row flex-space-around">
          <div class="col-lg-6 col-md-12 col-sm-12 px-0 pb-2">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Enter email" />
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 px-0 pb-2">
            <input type="number" class="form-control" id="phone" placeholder="Phone" />
          </div>

          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="row flex-space-around">
          <div class="col-lg-12 col-md-12 col-sm-12 px-0 pb-2">
            <textarea rows="5" type="text" class="form-control" id="message" placeholder="Message"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </section>

  <!-- locateu us section starts -->

  <section id="locate-us" class="section price-plan-area dark-bg overflow-hidden pt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7">
          <!-- Section Heading -->
          <div class="section-heading text-center">
            <h2 class="custom-gray-text">Locate Us</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="row course-container">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 p-b-10p">
              <!-- Single Price Plan -->
              <div class="row single-price-plan color-1 hover-top dark-bg text-center">
                <div class="col-lg-4 col-md-3 col-sm-3 col-3 row justify-content-end">
                  <i class="fa fa-map-marker-alt locate-us-icons"></i>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 col-9">
                  <div class="locate-us-text locate-us-title">Address</div>
                  <div class="locate-us-text locate-us-info">
                    <div>
                      <span class="font-weight-bold">ABC Office</span>
                    </div>
                    19th Floor, XYZ Business Center, Continental Hotel, NY
                  </div>
                </div>
              </div>
              <div class="single-price-plan color-1 hover-top dark-bg text-center flexclass">
                <div class="col-lg-4 col-md-3 col-sm-3 col-3 row justify-content-end">
                  <i class="far fa-calendar-alt locate-us-icons"></i>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 col-9">
                  <div class="locate-us-text locate-us-title">
                    Working Hours
                  </div>
                  <div class="locate-us-text locate-us-info">9:00AM-6:00PM</div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-12 col-md-12 p-b-10p">
              <div class="single-price-plan color-1 hover-top dark-bg text-center flexclass">
                <div class="col-lg-4 col-md-3 col-sm-3 col-3 row justify-content-end">
                  <i class="fa fa-mobile locate-us-icons"></i>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 col-9">
                  <div class="locate-us-text locate-us-title">Phone</div>
                  <div class="locate-us-text locate-us-info">
                    +91 9999999999
                  </div>
                </div>
              </div>
              <div class="single-price-plan color-1 hover-top dark-bg text-center flexclass">
                <div class="col-lg-4 col-md-3 col-sm-3 col-3 row justify-content-end">
                  <i class="far fa-envelope locate-us-icons"></i>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 col-9">
                  <div class="locate-us-text locate-us-title">Email Us</div>
                  <div class="locate-us-text locate-us-info">
                    academy@dummyedu.com
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>