<div class="main-container">
  <div class="bgimage"></div>
  <div></div>
</div>
<!-- <header id="header"> -->
<div id="boxHere"></div>
<!-- <div id="boxThis">Box</div> -->
<section id="boxThis">
  <div class="row flexclass">
    <div class="container">
      <div class="ml-auto"></div>
      <ul class="row navbar-nav items customi align-items-center padit">
        <li class="nav-itema dropdown">
          <a class="nav-link" href="{{ getcurrenturl() }}#cybersecurity-online-course">Cyber Security Online Course</a>
        </li>
        <li class="nav-itema">
          <a class="nav-link" href="{{ getcurrenturl() }}#fundamentals-of-information-security">Fundamentals of
            information security
          </a>
        </li>
        <li class="nav-itema">
          <a class="nav-link" href="{{ getcurrenturl() }}#cybersecurity-certification-program">Cyber Security
            Certification</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- </header> -->
</section>

<section class="section dark-bg overflow-hidden">
  <div class="row justify-content-center pb-0 pt-5">
    <div class="col-12 col-md-10 col-lg-12">
      <!-- Section Heading -->
      <div class="section-heading text-center">
        <h2 class="custom-gray-text">
          Cyber Security Courses
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- ***** Course Plan Area Start ***** -->
<section class="section price-plan-area dark-bg overflow-hidden pb-5">
  <div class="container">
    <div class="row justify-content-center pt-0">
      <div class="col-12 col-lg-10">
        <div class="row price-plan-wrapper course-container">
          <div class="col-12 col-md-6">
            <!-- Single Price Plan -->
            <div class="single-price-plan color-1 bg-hover hover-top dark-bg dark-shadow text-center padding-b-3">
              <!-- Plan Title -->
              <div>
                <div class="cover-bg p-5" style="
                    background-image: linear-gradient(
                        0deg,
                        rgba(0 0 0 / 54%),
                        rgba(0 0 0 / 69%)
                      ),
                      url(assets/img/content/Cybersecurity-OnlineCourse.jpeg);
                  ">
                  <div class="plan-title mb-2 mb-sm-3">
                    <p class="text-fff">Cybersecurity Online</p>
                    <p class="text-fff">Course</p>
                  </div>
                </div>
                <div class="course-sub-container">
                  <p class="sub-detail">CyberSecurity</p>
                  <p class="sub-detail">1 Month</p>
                </div>
              </div>
              <!-- Plan Goal Points -->
              <div class="plan-goal-points margin-lr-3">
                <ul class="pt-3">
                  <li class="course-goal-list-element">Network Security</li>
                  <li class="course-goal-list-element">Malware Analysis</li>
                  <li class="course-goal-list-element">
                    Incident Response and Computer Forensics
                  </li>
                  <li class="course-goal-list-element">Application Security</li>
                </ul>
              </div>
              <!-- Plan Button -->
              <div class="plan-button margin-lr-3">
                <a href="{{ getcurrenturl() }}#cybersecurity-online-course" class="btn btn-bordered-white mt-3">Learn
                  More
                  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <!-- Single Price Plan -->
            <div class="single-price-plan color-1 bg-hover hover-top dark-bg dark-shadow text-center padding-b-3">
              <!-- Plan Title -->
              <div>
                <div class="cover-bg p-5" style="
                    background-image: linear-gradient(
                        0deg,
                        rgba(0 0 0 / 54%),
                        rgba(0 0 0 / 69%)
                      ),
                      url(assets/img/content/Fundamentals-of-information-security.jpeg);
                  ">
                  <div class="plan-title mb-2 mb-sm-3">
                    <p class="text-fff">Fundamentals of Information Security</p>
                  </div>
                </div>
                <div class="course-sub-container">
                  <p class="sub-detail">CyberSecurity</p>
                  <p class="sub-detail">1 Month</p>
                </div>
              </div>

              <div class="plan-goal-points margin-lr-3">
                <ul class="pt-3">
                  <li class="course-goal-list-element">
                    Types of threats: viruses, phishing, device vulnerability
                  </li>
                  <li class="course-goal-list-element">
                    Virus protection: antiviruses, caution when downloading
                    files
                  </li>
                  <li class="course-goal-list-element">
                    Passwords: strength and precautions
                  </li>
                  <li class="course-goal-list-element">Banking data</li>
                  <li class="course-goal-list-element">
                    Spam and intrusive advertising
                  </li>
                </ul>
              </div>
              <!-- Plan Button -->
              <div class="plan-button margin-lr-3">
                <a href="{{
                    getcurrenturl()
                  }}#fundamentals-of-information-security" class="btn btn-bordered-white mt-3">Learn More
                  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <!-- Single Price Plan -->
            <div class="single-price-plan color-1 bg-hover hover-top dark-bg dark-shadow text-center padding-b-3">
              <!-- Plan Title -->
              <div>
                <div class="cover-bg p-5" style="
                    background-image: linear-gradient(
                        0deg,
                        rgba(0 0 0 / 54%),
                        rgba(0 0 0 / 69%)
                      ),
                      url(assets/img/content/cyber-Security-Certification.jpeg);
                  ">
                  <div class="plan-title mb-2 mb-sm-3">
                    <p class="text-fff">Cybersecurity Certification program</p>
                  </div>
                </div>
                <div class="course-sub-container">
                  <p class="sub-detail">CyberSecurity</p>
                  <p class="sub-detail">1 Month</p>
                </div>
              </div>

              <div class="plan-goal-points margin-lr-3">
                <ul class="pt-3">
                  <li class="course-goal-list-element">
                    Basic concepts of Cybersecurity
                  </li>
                  <li class="course-goal-list-element">
                    Computer architecture
                  </li>
                  <li class="course-goal-list-element">Operating Systems</li>
                  <li class="course-goal-list-element">Malware analysis</li>
                  <li class="course-goal-list-element">
                    Corporate cybersecurity
                  </li>
                  <li class="course-goal-list-element">Cryptography</li>
                  <li class="course-goal-list-element">Network Security</li>
                  <li class="course-goal-list-element">
                    Application Protection
                  </li>
                  <li class="course-goal-list-element">
                    Incident response and computer forensic
                  </li>
                </ul>
              </div>
              <!-- Plan Button -->
              <div class="plan-button margin-lr-3">
                <a href="{{
                    getcurrenturl()
                  }}#cybersecurity-certification-program" class="btn btn-bordered-white mt-3">Learn More
                  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-5">
      <p class="pt-4 fw-5">
        Not sure what to choose?
        <a class="service-btn" routerLink="/contact"><strong>Contact Us</strong></a>
      </p>
    </div>
  </div>
</section>
<!-- ***** Course Plan Area End ***** -->

<!-- ***** Course Detail Area Start ***** -->
<div id="cybersecurity-online-course"></div>
<section id="service" class="section service-area bg-course1 pt-5 sectioner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 wider-class">
        <div class="section-heading text-left">
          <div class="text-center">
            <h2 class="color-1 text-center">Cyber Security Online Course</h2>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Description</h3>
                <hr />
                <p class="text-white-50 text-justify d-none d-sm-block mt-4">
                  This educational online course on the basics of information
                  security is designed for college students, IT professionals,
                  as well as owners of small and medium-sized businesses without
                  information security departments. The course includes detailed
                  information with analysis of real cases, online testing and
                  practical exercises.
                </p>
              </div>
              <div class="col-lg-6 pl-5">
                <img src="assets/img/content/Cybersecurity-OnlineCourse.jpeg" alt="" />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Course best suited for</h3>
                <hr />
                <p class="text-white-50 text-justify d-none d-sm-block mt-4">
                  College students, IT specialists, owners of small and medium
                  businesses without information security departments.
                </p>
              </div>
              <div class="col-lg-6 color-1 p-5">
                <i class="fa fa-users locate-us-icons fa-8x"></i>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Course Objectives</h3>
                <hr />
                <div class="plan-goal-points">
                  <ul class="content-list text-left">
                    <!-- Single Content List -->
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Learn the main areas of cybersecurity.
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Prepare for certification in cybersecurity
                          fundamentals.
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body text-justify">
                        <span class="text-white">
                          Familiarize yourself with methods and publicly
                          available tools for detecting cyber-attacks,
                          protecting against them and restoring IT systems.
                          <br /></span>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
              <div class="col-lg-6 col-12 color-1 p-5">
                <i class="fa fa-bullseye locate-us-icons fa-8x"></i>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Duration</h3>
                <hr />
                <p class="text-white-50 text-justify d-none d-sm-block mt-4">
                  1 Month
                </p>
              </div>
              <div class="col-lg-6 color-1 p-5">
                <i class="fa fa-calendar locate-us-icons fa-8x"></i>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <div>
                  <h3>Course Program</h3>
                  <hr />
                  <span class="smaller text-white">The Fundamentals of Cybersecurity course consists of four
                    sections:</span>
                </div>
                <div class="plan-goal-points">
                  <ul class="content-list text-left">
                    <!-- Single Content List -->
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Network Security
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Malware Analysis
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Incident Response and Computer Forensics
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i>
                        </span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Application Security
                          <br /></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-12 color-1 p-5">
                <i class="fa fa-list-ul locate-us-icons fa-8x"></i>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Course Result</h3>
                <hr />
                <p class="text-white-50 text-justify d-none d-sm-block mt-4">
                  Certificate
                </p>
              </div>
              <div class="col-lg-6 color-1 p-5">
                <!-- <i class="fa-solid fa-file-certificate"></i> -->
                <i class="fa fa-graduation-cap locate-us-icons fa-8x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-black"></div>
</section>
<div id="fundamentals-of-information-security"></div>
<section class="section service-area bg-course2 pt-5 sectioner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 wider-class">
        <div class="section-heading text-left">
          <div class="text-center">
            <h2 class="color-1">Fundamentals of Information Security</h2>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Description</h3>
                <hr />
                <p class="text-justify d-none d-sm-block mt-4 text-black">
                  Guided by National Research University Higher School
                  of Economics,Dummy Academy has developed the Information
                  Security module for the Digital Literacy online course, which
                  will introduce students to a variety of cyber threats and
                  provide basic information security knowledge. As part of the
                  module, they analyse the basics of security in the 21st
                  century: how not to lose access to a bank account and files on
                  a personal PC.
                </p>
              </div>
              <div class="col-lg-6 pl-5">
                <img src="assets/img/content/Fundamentals-of-information-security.jpeg" alt="" />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <div>
                  <h3>Module Details -</h3>
                  <hr />
                  <span class="smaller">The Fundamentals of Cybersecurity course consists of four
                    sections:</span>
                  <!-- <h3 style="display: inline">Course Program</h3> -->
                </div>
                <div class="plan-goal-points">
                  <ul class="content-list text-left">
                    <!-- Single Content List -->
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span>
                          <span class="color-1"> Lesson 1. </span>
                          Types of threats: viruses, phishing, device
                          vulnerability
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span>
                          <span class="color-1"> Lesson 2. </span>
                          Virus protection: antiviruses, caution when
                          downloading files
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span>
                          <span class="color-1"> Lesson 3. </span>
                          Passwords: strength and precautions
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span>
                          <span class="color-1"> Lesson 4. </span>
                          Banking data
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span>
                          <span class="color-1"> Lesson 5. </span>
                          Spam and intrusive advertising
                          <br /></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-12 color-1 p-5">
                <i class="fa fa-list-ul locate-us-icons fa-8x"></i>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Course best suited for</h3>
                <hr />
                <p class="text-black text-justify d-none d-sm-block mt-4">
                  Students and professionals whose field of activity is not
                  related to IT
                </p>
              </div>
              <!-- <div class="col-lg-1"></div> -->
              <div class="col-lg-6 color-1 p-5">
                <i class="fa fa-users locate-us-icons fa-8x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-white"></div>
</section>

<div id="cybersecurity-certification-program"></div>
<section class="section service-area bg-course3 pt-5 sectioner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 wider-class">
        <div class="section-heading text-left">
          <div class="text-center">
            <h2 class="color-1">Cyber Security Certification</h2>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Description</h3>
                <hr />
                <p class="text-white-50 text-justify d-none d-sm-block mt-4">
                  The basic cybersecurity certification by ExtraSecureLabs Lab is an
                  online test for beginners. It is intended to assess the
                  general level of knowledge in the field of information
                  security and identify areas in which additional training is
                  needed.
                </p>
              </div>
              <div class="col-lg-6 pl-5">
                <img src="assets/img/content/cyber-Security-Certification.jpeg" alt="" />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Course best suited for</h3>
                <hr />
                <p class="text-white-50 text-justify d-none d-sm-block mt-4">
                  Anyone who wants to test their level of knowledge of the
                  basics of cybersecurity
                </p>
              </div>
              <!-- <div class="col-lg-1"></div> -->
              <div class="col-lg-6 color-1 p-5">
                <i class="fa fa-users locate-us-icons fa-8x"></i>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3 class="color-1">What is it for?</h3>
                <hr />
                <div class="plan-goal-points">
                  <ul class="content-list text-left">
                    <!-- Single Content List -->
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Assess the general level of knowledge in the field of
                          cybersecurity.
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Identify areas where additional training is needed.
                          <br /></span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-12 color-1 p-5">
                <i class="fa fa-bullseye locate-us-icons fa-8x"></i>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Certification and Training</h3>
                <hr />
                <span class="smaller text-white">This test includes 9 sections:</span>
                <div class="plan-goal-points">
                  <ul class="content-list text-left">
                    <!-- Single Content List -->
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Basic concepts of cybersecurity.
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Computer architecture.
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Operating Systems
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Malware analysis
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Corporate cybersecurity
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Cryptography
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Network Security
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Application Protection
                          <br /></span>
                      </div>
                    </li>
                    <li class="single-content-list media py-2">
                      <div class="content-icon pr-4">
                        <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                      </div>
                      <div class="content-text media-body">
                        <span class="text-white">
                          Incident response and computer forensic
                          <br /></span>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
              <div class="col-lg-6 col-12 color-1 p-5">
                <i class="fa fa-list-ul locate-us-icons fa-8x"></i>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6 col-12">
                <h3>Course Result</h3>
                <hr />
                <p class="text-white-50 text-justify d-none d-sm-block mt-4">
                  Certificate
                </p>
              </div>
              <div class="col-lg-6 color-1 p-5">
                <!-- <i class="fa-solid fa-file-certificate"></i> -->
                <i class="fa fa-graduation-cap locate-us-icons fa-8x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-black"></div>
</section>
<!-- ***** Course Detail Area End ***** -->