<div id="homepageBanner" data-interval="5000" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#homepageBanner" data-slide-to="0" class="active"></li>
    <li data-target="#homepageBanner" data-slide-to="1"></li>
    <li data-target="#homepageBanner" data-slide-to="2"></li>
    <!-- <li data-target="#homepageBanner" data-slide-to="2"></li> -->
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url(assets/img/banner/student-learning.jpg)">
      <div class="carousel-caption d-none d-md-block">
        <a class="btn btn-bordered-white mt-3" routerLink="/contact">Connect With Us
        </a>
        <!-- <h2 class="display-4">First Slide</h2>
        <p class="lead">This is a description for the first slide.</p> -->
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url(assets/img/banner/sec3.jpg)">
      <div class="carousel-caption d-none d-md-block">
        <a class="btn btn-bordered-white mt-3" routerLink="/contact">Connect With Us
        </a>
      </div>
    </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->

    <div class="carousel-item" style="background-image: url(assets/img/banner/sec2.jpg)">
      <div class="carousel-caption d-none d-md-block">
        <a class="btn btn-bordered-white mt-3" routerLink="/contact">Connect With Us
        </a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#homepageBanner" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#homepageBanner" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section id="service" class="section service-area dark-bg pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 wider-class">
        <div class="section-heading text-center pt-5">
          <h2 class="custom-gray-text">A Brief</h2>
          <p class="text-white-50 text-justify d-sm-block mt-4">
            “Dummy Academy's mission is to lead community development by providing
            learning programs and opportunities that enable enriched and
            enterprising lives.”
          </p>
          <p class="text-white-50 text-justify d-sm-block mt-4">
            We provide flexible training options for all students in a diverse
            range of courses on Cybersecurity. Our expert trainers are
            passionate about training and our dynamic approach and positive
            attitudes make training with us both an enjoyable and rewarding
            learning experience for our students.
          </p>
          <p class="text-white-50 text-justify d-sm-block mt-4">
            We have been involved in many differing, diverse & interesting
            projects & we have built relationships with organisations from
            varying industries & sizes. Our efficient, cost-effective and
            engaging training courses are designed for you to improve your
            technical skills and knowledge.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section content-area dark-bg py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-right">
        <h2 class="custom-gray-text">Our Specialty</h2>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-6 animated fadeInLeft">
        <!-- Service Thumb -->
        <div class="service-thumb mx-auto pt-4 pt-lg-0">
          <img src="assets/img/content/Speciality3.jpg" alt="" />
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <!-- Content Inner -->
        <div class="content-inner text-center">
          <!-- Section Heading -->
          <div class="text-center">
            <!-- <h2 class="custom-gray-text">Our Speciality</h2> -->

            <!-- Content List -->
            <ul class="content-list text-left">
              <!-- Single Content List -->
              <li class="single-content-list media py-2">
                <div class="content-icon pr-4">
                  <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                </div>
                <div class="content-text media-body">
                  <span class="text-white"><b>Simple & easy training courses that are fully bespoke</b><br /></span>
                </div>
              </li>
              <li class="single-content-list media py-2">
                <div class="content-icon pr-4">
                  <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                </div>
                <div class="content-text media-body">
                  <span class="text-white"><b>Cost-effective -We Offer You Great Value for Money</b><br /></span>
                </div>
              </li>
              <li class="single-content-list media py-2">
                <div class="content-icon pr-4">
                  <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                </div>
                <div class="content-text media-body">
                  <span class="text-white"><b>Access to qualified tutors </b><br /></span>
                </div>
              </li>
              <li class="single-content-list media py-2">
                <div class="content-icon pr-4">
                  <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                </div>
                <div class="content-text media-body">
                  <span class="text-white"><b>Real time training on live projects.</b><br /></span>
                </div>
              </li>
              <li class="single-content-list media py-2">
                <div class="content-icon pr-4">
                  <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                </div>
                <div class="content-text media-body">
                  <span class="text-white"><b>Our scheduling is flexible</b><br /></span>
                </div>
              </li>
              <li class="single-content-list media py-2">
                <div class="content-icon pr-4">
                  <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                </div>
                <div class="content-text media-body">
                  <span class="text-white"><b>Live, Instructor-Led Training and Two-Way Interaction
                      (online courses).</b><br /></span>
                </div>
              </li>
              <li class="single-content-list media py-2">
                <div class="content-icon pr-4">
                  <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
                </div>
                <div class="content-text media-body">
                  <span class="text-white"><b>Highly Skilled Engineers.</b><br /></span>
                </div>
              </li>
            </ul>
          </div>
          <!-- <a href="#" class="btn btn-bordered-white mt-4">Learn More</a> -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ***** Why Choose US ***** -->
<section class="section content-area dark-bg py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 class="custom-gray-text">Why Choose Us?</h2>
      </div>
    </div>
    <div class="row justify-content-between align-items-center uptodown">
      <div class="col-12 col-lg-6">
        <!-- Content Inner -->
        <div class="content-inner text-center">
          <!-- Content List -->
          <ul class="content-list text-left">
            <!-- Single Content List -->
            <li class="single-content-list media py-2">
              <div class="content-icon pr-4">
                <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
              </div>
              <div class="content-text media-body">
                <span class="text-white"><b>Certified Teaching Experts</b><br />Our teaching experts
                  are certified from ExtraSecureLabs.</span>
              </div>
            </li>
            <!-- Single Content List -->
            <li class="single-content-list media py-2">
              <div class="content-icon pr-4">
                <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
              </div>
              <div class="content-text media-body">
                <span class="text-white"><b>Worldwide Services To Clients</b><br />We provide services
                  and trusted by clients worldwide..</span>
              </div>
            </li>
            <li class="single-content-list media py-2">
              <div class="content-icon pr-4">
                <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
              </div>
              <div class="content-text media-body">
                <span class="text-white"><b>Next-Gen Technology Provider </b><br />Lifetime provider
                  of uttermost tactics for your digital journey..</span>
              </div>
            </li>
            <li class="single-content-list media py-2">
              <div class="content-icon pr-4">
                <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
              </div>
              <div class="content-text media-body">
                <span class="text-white"><b>Creating Ideas with Passion</b><br /></span>
              </div>
            </li>
            <li class="single-content-list media py-2">
              <div class="content-icon pr-4">
                <span class="color-1"><i class="fas fa-angle-double-right"></i></span>
              </div>
              <div class="content-text media-body">
                <span class="text-white"><b>Pocket Friendly Cybersecurity Education</b><br /></span>
              </div>
            </li>
          </ul>
          <!-- <a href="#" class="btn btn-bordered-white mt-4">Learn More</a> -->
        </div>
      </div>
      <div class="col-12 col-lg-6 animated fadeInRight">
        <!-- Service Thumb -->
        <div class="service-thumb mx-auto pt-4 pt-lg-0">
          <img src="assets/img/content/Why-to-choose-us.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Why choose us Area End ***** -->

<!-- ***** Course Plan Area Start ***** -->
<section id="pricing" class="section price-plan-area dark-bg overflow-hidden py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7">
        <!-- Section Heading -->
        <div class="section-heading text-center">
          <h2 class="custom-gray-text">Courses</h2>
          <!-- <div class="row">
            <div class="col-5 m-0 p-0"><hr class="singlehr" /></div>
            <div class="col-2 m-0 p-0"><hr class="doublehr" /></div>
            <div class="col-5 m-0 p-0"><hr class="singlehr" /></div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
        <div class="row price-plan-wrapper">
          <div class="col-lg-4 col-sm-12 col-12 col-md-12 mb-5">
            <!-- Single Price Plan -->
            <div class="single-price-plan color-1 bg-hover hover-top dark-bg dark-shadow text-center padding-b-3">
              <!-- Plan Title -->
              <div>
                <div class="cover-bg p-5 black-layer" style="
                    background-image: linear-gradient(
                        0deg,
                        rgba(0 0 0 / 54%),
                        rgba(0 0 0 / 69%)
                      ),
                      url(assets/img/content/Cybersecurity-OnlineCourse.jpeg);
                  ">
                  <div class="plan-title mb-2 mb-sm-3">
                    <p class="text-fff">Cybersecurity Online</p>
                    <p class="text-fff">Course</p>
                  </div>
                </div>
                <div class="course-sub-container">
                  <p class="sub-detail">CyberSecurity</p>
                  <p class="sub-detail">1 Month</p>
                </div>
              </div>
              <!-- Plan Description -->

              <!-- Plan Goal Points -->
              <div class="plan-goal-points margin-lr-3">
                <ul>
                  <li class="course-goal-list-element">Network Security</li>
                  <li class="course-goal-list-element">Malware Analysis</li>
                  <li class="course-goal-list-element">
                    Incident Response and Computer Forensics
                  </li>
                  <li class="course-goal-list-element">Application Security</li>
                </ul>
              </div>
              <!-- Plan Button -->
              <div class="plan-button margin-lr-3">
                <!-- href="{{
                  getcurrenturl()
                }}courses#cybersecurity-online-course" -->
                <a [routerLink]="'/courses'" fragment="cybersecurity-online-course"
                  class="btn btn-bordered-white mt-3">Learn More
                  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 col-12 col-md-12 mb-5">
            <!-- Single Price Plan -->
            <div class="single-price-plan color-1 bg-hover hover-top dark-bg dark-shadow text-center padding-b-3">
              <!-- Plan Title -->
              <div>
                <div class="cover-bg p-5" style="
                    background-image: linear-gradient(
                        0deg,
                        rgba(0 0 0 / 54%),
                        rgba(0 0 0 / 69%)
                      ),
                      url(assets/img/content/Fundamentals-of-information-security.jpeg);
                  ">
                  <div class="plan-title mb-2 mb-sm-3">
                    <p class="text-fff">Fundamentals of Information Security</p>
                  </div>
                </div>
                <div class="course-sub-container">
                  <p class="sub-detail">CyberSecurity</p>
                  <p class="sub-detail">1 Month</p>
                </div>
              </div>
              <!-- Plan Description -->

              <!-- Plan Goal Points -->
              <div class="plan-goal-points margin-lr-3">
                <ul>
                  <li class="course-goal-list-element">
                    Types of threats: viruses, phishing, device vulnerability
                  </li>
                  <li class="course-goal-list-element">
                    Virus protection: antiviruses, caution when downloading
                    files
                  </li>
                  <li class="course-goal-list-element">
                    Passwords: strength and precautions
                  </li>
                  <li class="course-goal-list-element">Banking data</li>
                  <li class="course-goal-list-element">
                    Spam and intrusive advertising
                  </li>
                </ul>
              </div>
              <!-- Plan Button -->
              <div class="plan-button margin-lr-3">

                <a class="btn btn-bordered-white mt-3" routerLink="/courses"
                  fragment="fundamentals-of-information-security">Learn More
                  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 col-12 col-md-12 mb-5">
            <!-- Single Price Plan -->
            <div class="single-price-plan color-1 bg-hover hover-top dark-bg dark-shadow text-center padding-b-3">
              <!-- Plan Title -->
              <div>
                <div class="cover-bg p-5" style="
                    background-image: linear-gradient(
                        0deg,
                        rgba(0 0 0 / 54%),
                        rgba(0 0 0 / 69%)
                      ),
                      url(assets/img/content/cyber-Security-Certification.jpeg);
                  ">
                  <div class="plan-title mb-2 mb-sm-3">
                    <p class="text-fff">Cybersecurity Certification program</p>
                  </div>
                </div>
                <div class="course-sub-container">
                  <p class="sub-detail">CyberSecurity</p>
                  <p class="sub-detail">1 Month</p>
                </div>
              </div>
              <!-- Plan Description -->

              <!-- Plan Goal Points -->
              <div class="plan-goal-points margin-lr-3">
                <ul>
                  <li class="course-goal-list-element">
                    Basic concepts of Cybersecurity
                  </li>
                  <li class="course-goal-list-element">
                    Computer architecture
                  </li>
                  <li class="course-goal-list-element">Operating Systems</li>
                  <li class="course-goal-list-element">Malware analysis</li>
                  <li class="course-goal-list-element">
                    Corporate cybersecurity
                  </li>
                  <li class="course-goal-list-element">Cryptography</li>
                  <li class="course-goal-list-element">Network Security</li>
                  <li class="course-goal-list-element">
                    Application Protection
                  </li>
                  <li class="course-goal-list-element">
                    Incident response and computer forensic
                  </li>
                </ul>
              </div>
              <!-- Plan Button -->
              <div class="plan-button margin-lr-3">

                <a class="btn btn-bordered-white mt-3" routerLink="/courses"
                  fragment="cybersecurity-certification-program">Learn More
                  <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-5">
      <p class="pt-4 fw-5">
        Not sure what to choose?
        <a class="service-btn" routerLink="/contact"><strong>Contact Us</strong></a>
      </p>
    </div>
  </div>
</section>
<!-- ***** Course Plan Area End ***** -->

<!--====== Contact Area Start ======-->
<section id="contact" class="contact-area dark-bg ptb_100">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-lg-5">
        <!-- Section Heading -->
        <div class="section-heading text-center mb-3">
          <h2 class="custom-gray-text">Book an Appointment</h2>

        </div>

      </div>
      <div class="col-12 col-lg-6 pt-4 pt-lg-0">
        <!-- Contact Box -->
        <div class="contact-box text-center">
          <form id="contact-form">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder="Name" required="required" />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" required="required" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" placeholder="Phone" required="required" />
                </div>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-bordered active btn-block mt-3 gray-colored-button">
                  <span class="text-white pr-3"><i class="fas fa-paper-plane"></i></span>
                  Submit
                </button>
              </div>
            </div>
          </form>
          <p class="form-message"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== Contact Area End ======-->



<!-- new testimonial area start -->
<section class="section dark-bg overflow-hidden">
  <div class="row justify-content-center pb-0">
    <div class="col-12 col-md-10 col-lg-7">
      <!-- Section Heading -->
      <div class="section-heading text-center mb-3">
        <h2 class="custom-gray-text">Students Feedback</h2>
      </div>
    </div>
  </div>
  <div class="testimonial-container">
    <div id="testimonial-slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item testimonial-item active">
          <div class="carousel-caption-t">
            <p>
              "Course was not about only delivering classroom teachings, but
              also providing the students with real-time case studies and hands
              on industry experience with field project works."
            </p>
            <img src="assets/img/avatar/avatar-1.png" />
            <div id="image-caption">Sebastian</div>
          </div>
        </div>
        <div class="carousel-item testimonial-item">
          <div class="carousel-caption-t">
            <p>
              "The best thing that I found about this course is that the
              instructors use a lot of case studies, discussions, and many
              innovative ways of evaluation."
            </p>
            <img src="assets/img/avatar/avatar-2.png" class="img-fluid" />
            <div id="image-caption">Millie</div>
          </div>
        </div>
        <div class="carousel-item testimonial-item">
          <div class="carousel-caption-t">
            <p>
              "Fantastic. Course material is comprehensive and easily
              understandable."
            </p>
            <img src="assets/img/avatar/avatar-3.png" class="img-fluid" />
            <div id="image-caption">John Doe</div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev c-c-p pl-3" href="#testimonial-slider" data-slide="prev">
        <div class="icon-container">
          <i class="fas fa-arrow-left"></i>
        </div>
      </a>
      <a class="carousel-control-next c-c-n pr-3" href="#testimonial-slider" data-slide="next">
        <div class="icon-container">
          <i class="fas fa-arrow-right"></i>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- new testimonial area end -->